@model IEnumerable<DTB.DVDCentral.BL.Models.Movie>

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.InStkQty)
        </th>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.InStkQty)
            </td>
            <td>
                <img src="~/Images/@item.ImagePath" alt="@item.Description" class="imagepropmed" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
